<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
</head>

<body>
    <header class="col-12 p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <p class="h2 align-items-left mb-2 mb-lg-0 text-white text-decoration-none">
          The Tech Blog
        </p>

         <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          {{#if loggedIn}}
          <li><a href="/dashboard" class="nav-link px-2 text-white">Dashboard</a></li>
          {{/if}}
        </ul>

        <div class="text-end">
          {{#if loggedIn}}
          <button type="button" class="createpost btn btn-warning">Create Post</button>
          <button type="button" class="logout btn btn-outline-light me-2">Logout</button>
          {{else}}
          <button type="button" class="login btn btn-outline-light me-2">Login</button>
          <button type="button" class="signup btn btn-outline-light me-2">Sign-up</button>
          {{/if}}
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="body row">
      {{{body}}}
    </div>
  </main>
</body>

<script src="/js/logout.js"></script>

</html>